$colorLight: #2692e1;
$colorMid: #1970ad;
$colorDark: #102945;

#blueUI {
  background-image: url('../img/big_bg/big_blue.png');
  nav {
    .brandName {
      color: $colorLight;
    }
    button {
      background: $colorMid;
      &:hover {
        background: rgba($colorMid, 0.8);
      }
    }
  }
  .ChatRoom_Main {
    .channelArea {
      .rooms {
        .list {
          .channel,
          .private {
            &:hover {
              background: $colorMid;
            }
          }
          .room-active {
            background: $colorMid;
          }
        }
      }
    }
    .chatArea {
      .messages {
        .sent {
          .text {
            background: rgba($colorMid, 0.95);
          }
        }
        .message-box {
          .header {
            background: rgba($colorLight, 0.95);
            border: 1px solid $colorLight;
          }
        }
      }
      form {
        img {
          box-shadow: 0px 0px 6px 6px $colorLight;
        }
        button {
          background: $colorLight;
          &:hover {
            background: rgba($colorLight, 0.8);
          }
        }
      }
    }
  }
  .settings-box {
    color: $colorLight;
    .footer {
      button {
        background: $colorLight;
        &:hover {
          background: rgba($colorLight, 0.8);
        }
      }
    }
  }
}
@media only screen and (max-width: 666px) {
  #blueUI {
    background-image: url('../img/mobile/mobile_blue.png');
  }
}
